:root {
    // Text colors
    --c-text: #2c3e50;
    --c-text-accent: #dc322f;
    
    // Border colors
    --c-border: #eaecef;
    
    // Code blocks colors
    --code-bg-color: #282c34;
   

    // Badge component colors
    --c-badge-tip: #42b983;
    --c-badge-warning: darken(#ffe564, 35%);
    --c-badge-danger: #DA5961;

    // Layout
    --navbar-height: 3.6rem;
    --sidebar-width: 20rem;
    --content-width: 100%;
    --homepage-width: 100%;

    
}

// plugin-back-to-top
.back-to-top {
   --back-to-top-color: #dc322f;
   --back-to-top-color-hover: #DA5961;
}